<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style/main_style.css">
    <link rel="icon" href="images/anime.png">
    <meta charset="UTF-8">
    <title>Amine-web</title>


</head>
<body>
    <div>
        <div class="top_line">
            
            <div class="register_bar" >
                <form method="post" style="">
                    <input id="login" name="login_name" type="text" placeholder="Login">
                    <input id="passwprd" name="password" type="text" placeholder="****">
                    <input type="button" class="buttonRB">

                </form>
            </div>
            <div class="search_line">
                <form method="post">
                    <input class="search" placeholder="Write here what you want to find" />
                    <input type="button" class="button_sc" value="Search" />
                </form>
            </div>

            
        </div>
        <div class="fromSpan">
            <span>
                <a href="#">Forgot your password?</a>

                <a href="#">Registration!</a>
            </span>
        </div>


        <div class="head_block">
            <div class="menu">
                <ul id="topnav">
                    <li name="main">
                        <a href="main">Main</a> 
                    </li>
                    <li name="genre">
                        <a href="genre">Genre</a> 
                        <div class="sar">
                            <span id="blok_1">
                                <a href="/zhanr/boyevyye-iskusstva/">Боевые искусства</a>
                                <a href="/zhanr/voyna/">Война</a>
                                <a href="/zhanr/drama/">Драма</a>
                                <a href="/zhanr/detektiv/">Детектив</a>
                                <a href="/zhanr/istoriya/">История</a>
                                <a href="/zhanr/komediya/">Комедия</a>
                                <a href="/zhanr/mekha/">Меха</a>
                                <a href="/zhanr/mistika/">Мистика</a>
                            </span>
                            <span id="blok_2">
                                <a href="/zhanr/makho-sedze/">Махо-сёдзё</a>
                                <a href="/zhanr/muzykalnyy/">Музыкальный</a>
                                <a href="/zhanr/povsednevnost/">Повседневность</a>
                                <a href="/zhanr/priklyucheniya/">Приключения</a>
                                <a href="/zhanr/parodiya/">Пародия</a>
                                <a href="/zhanr/romantika/">Романтика</a>
                                <a href="/zhanr/senen/">Сёнэн</a>
                                <a href="/zhanr/sedze/">Сёдзё</a>
                            </span>
                            <span id="blok_3">
                                <a href="/zhanr/sport/">Спорт</a>
                                <a href="/zhanr/skazka/">Сказка</a>
                                <a href="/zhanr/sedze-ay/">Сёдзё-ай</a>
                                <a href="/zhanr/senen-ay/">Сёнэн-ай</a>
                                <a href="/zhanr/samurai/">Самураи</a>
                                <a href="/zhanr/triller/">Триллер</a>
                                <a href="/zhanr/uzhasy/">Ужасы</a>
                                <a href="/zhanr/fantastika/">Фантастика</a>
                            </span>
                            <span id="blok_78">
                                <a href="/zhanr/fentezi/">Фэнтези</a>
                                <a href="/zhanr/shkola/">Школа</a>
                                <a href="/zhanr/etti/">Этти</a>
                            </span>
                        </div>
                    </li>
                    <li name="tip"> 
                        <a href="tip">Categories</a>
                        <span class="sar">
                            <a href="/tip/tv/">ТВ</a>
                            <a href="/tip/tv-speshl/">ТВ-спэшл</a>
                            <a href="/tip/ova/">OVA</a>
                            <a href="/tip/ona/">ONA</a>
                            <a href="/tip/polnometrazhnyy-film/">Полнометражный фильм</a>
                            <a href="/tip/korotkometrazhnyy-film/">Короткометражный фильм</a>
                            <a href="/tip/dunkhua/">Дунхуа</a>
                        </span>
                    </li>
                    <li name="year"> 
                        <a href="year">Year</a>
                        <span class="sar">
                            <span id="blok_19">
                                <a href="/god/1971/">1971</a>
                                <a href="/god/1977/">1977</a>
                                <a href="/god/1980/">1980</a>
                                <a href="/god/1984/">1984</a>
                                <a href="/god/1991/">1991</a>
                                <a href="/god/1992/">1992</a>
                            </span>
                            <span id="blok_5">
                                <a href="/god/1993/">1993</a>
                                <a href="/god/1994/">1994</a>
                                <a href="/god/1995/">1995</a>
                                <a href="/god/1996/">1996</a>
                                <a href="/god/1997/">1997</a>
                                <a href="/god/1998/">1998</a>
                            </span>
                            <span id="blok_6">
                                <a href="/god/1999/">1999</a>
                                <a href="/god/2000/">2000</a>
                                <a href="/god/2001/">2001</a>
                                <a href="/god/2002/">2002</a>
                                <a href="/god/2003/">2003</a>
                                <a href="/god/2004/">2004</a>
                            </span>
                            <span id="blok_7">
                                <a href="/god/2005/">2005</a>
                                <a href="/god/2006/">2006</a>
                                <a href="/god/2007/">2007</a>
                                <a href="/god/2008/">2008</a>
                                <a href="/god/2009/">2009</a>
                                <a href="/god/2010/">2010</a>
                            </span>
                            <span id="blok_8">
                                <a href="/god/2011/">2011</a>
                                <a href="/god/2012/">2012</a>
                                <a href="/god/2013/">2013</a>
                                <a href="/god/2014/">2014</a>
                                <a href="/god/2015/">2015</a>
                                <a href="/god/2016/">2016</a>
                            </span>
                            <span id="blok_20">
                                <a href="/god/2017/">2017</a>
                                <a href="/god/2018/">2018</a>
                                <a href="/god/2019/">2019</a>
                                <a href="/god/2020/">2020</a>
                                <a href="/god/2021/">2021</a>
                                <a href="/god/2022/">2022</a>
                            </span>
                            <span id="blok_21">
                                <a href="/god/2023/">2023</a>
                                <a href="/god/2024/">2024</a>
                            </span>

                        </span>
                    </li>
                    <li name="ongoing"> 
                        <a href="ongoing">Ongoing</a>
                    </li>
                    <li name="prewiew"> 
                        <a href="prewiew">Prewiew</a>
                    </li>
                    <li name="contacts"> 
                        <a href="contacts">Contacts</a>
                    </li>
                    <li name="feedback"> 
                        <a href="feedback">Contacts</a>
                    </li>
                </ul>
            </div>

        </div>
        <div>
            <div class="left_block">
                <div class="inter_block"></div>
                <div class="inter_block_two"></div>
            </div>
            <div class="center_block">
                <div class="present"></div>
                <div class="stext"></div>
                <div>
                    <div class="static_info"></div>
                    <div class="short_content"></div>
                    <div class="short_story"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
